<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Bootstrap datatable -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.css" />
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.js"></script>

  <!-- Bootstrap CSS -->
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
    integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
    crossorigin="anonymous"></script>

  <title>Composta</title>
</head>

<body>
  <section class="seccion-perfil-usuario">
    <div class="perfil-usuario-header">
      <div class="perfil-usuario-portada">
        <div class="perfil-usuario-avatar">
          <img src="../../assets/MoisesCompost.jpg" alt="img-avatar">
          <button type="button" class="boton-avatar">
            <i class="far fa-image"></i>
          </button>
        </div>
        <button type="button" class="boton-portada">
          <i class="far fa-image"></i> Cambiar fondo
        </button>
      </div>
    </div>
    <div class="perfil-usuario-body">
      <div class="perfil-usuario-bio">
        <h3 class="titulo">Moises Guzmán </h3>
        <p class="texto" style="text-align: center;"> Mi Primer proyecto ----Angular Developer--- > </p>
      </div>
      <div class="perfil-usuario-footer">
        <ul class="lista-datos">
          <li><i class="icono fas fa-map-signs"></i> Direccion de usuario:</li>
          <li><i class="icono fas fa-phone-alt"></i> Telefono:</li>
          <li><i class="icono fas fa-briefcase"></i> Trabaja en.</li>
          <li><i class="icono fas fa-building"></i> Cargo</li>
        </ul>
        <ul class="lista-datos">
          <li><i class="icono fas fa-map-marker-alt"></i> Ubicacion.</li>
          <li><i class="icono fas fa-calendar-alt"></i> Fecha nacimiento.</li>
          <li><i class="icono fas fa-user-check"></i> Registro.</li>
          <li><i class="icono fas fa-share-alt"></i> Redes sociales.</li>
        </ul>
      </div>
      <div class="redes-sociales">
        <a href="" class="boton-redes facebook fab fa-facebook-f"><i class="icon-facebook"></i></a>
        <a href="" class="boton-redes twitter fab fa-twitter"><i class="icon-twitter"></i></a>
        <a href="" class="boton-redes instagram fab fa-instagram"><i class="icon-instagram"></i></a>
      </div>
    </div>
    <br>
    <div class="container-fluid p-5 bg text-white text-center" id="Transfondo">
      <h1>My First Bootstrap Page</h1>
      <p>Resize this responsive page to see the effect!</p>
    </div>
    <div class="perfil-usuario-body mt-5">
      <div class="perfil-usuario-bio">
        <div class="container">
          <div class="row">
            <h2></h2>
            <table>
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Detalles</th>
                  <th>Cantidad</th>
                  <th>Precio</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                  <td>4</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="container-fluid p-5 bg text-white text-center" id="Transfondo">
      <h1>My First Bootstrap Page</h1>
      <p>Resize this responsive page to see the effect!</p>
    </div>
    <br>
    <div>
      <div class="d-flex container mt-4">
        <div class="row">
          <div class="card col-sm">
            <div id="span1">
              <img class="card-img-top"
              src= "https://blog.panasonic.es/wp-content/uploads/2020/02/comp01.jpg"
              alt="image" style="width:100%" class="rounded">
              <div class="card-body">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
              </div>
            </div>
          </div>

          <div class="card col-sm">
            <div id="span1">
              <img class="card-img-top"
              src= "https://blog.panasonic.es/wp-content/uploads/2020/02/comp01.jpg"
              alt="image" style="width:100%" class="rounded">
              <div class="card-body">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Some example text some example text.John Doe is an architect and engineer</p>
              </div>
            </div>
          </div>

          <div class="card col-sm">
            <div id="span1">
              <img class="card-img-top"
              src= "https://blog.panasonic.es/wp-content/uploads/2020/02/comp01.jpg"
              alt="image" style="width:100%" class="rounded">
              <div class="card-body">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    

    <br>
  </section>
  <div class="mis-redes" style="display: block;position: fixed;bottom: 1rem;left: 1rem; opacity: 0.5; z-index: 1000;">
    <p style="font-size: .75rem;">Compost</p>
    <div>
      <a target="_blank" href="https://www.facebook.com/ApockGraficos"><i class="fab fa-facebook-square"></i></a>
      <a target="_blank" href="https://twitter.com/ApockGraficos"><i class="fab fa-twitter"></i></a>
      <a target="_blank" href="https://www.instagram.com/ApockGraficos"><i class="fab fa-instagram"></i></a>
      <a target="_blank" href="https://www.youtube.com/channel/UC15DkMZQ80aoW_Rqk4n2T_w"><i
          class="fab fa-youtube"></i></a>
    </div>
  </div>
  <!--====  End of tarjeta  ====-->
</body>

</html>